<%- include("partials/head") %>
<body>
  <%- include("partials/header") %>
  <h1>Oops! This page doesn't exist!</h1>
  <form action="/" method="get">
    <button type="submit">Go to homepage</button>
  </form>
  <%- include("partials/footer") %>
</body>
</html>