<%- include("partials/head") %>
<body>
  <%- include("partials/header") %>

  <form action="/uploadFile" method="get" class="addFile">
    <button type="submit" >Upload a file</button>
  </form>
  <%- include("partials/footer") %>
</body>
</html>