:root {
  --dark-green: #005300;
  --dark-red: #530000;
  --light-gray: #e4e4e4;
  --light-green: #deffde;
  --light-red: #ffdede;
}

.addFile {
  display: grid;
  gap: 2vmin;
  justify-content: start;
  justify-self: stretch;
  padding: 0 2vw;
}

.addFile > button{
  background-color: lightblue;
  border-color: blue;
}

body {
  align-content: start;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

body > div {
  display: grid;
  flex-grow: 1;
}

body > div > div {
  align-items: center;
  display: flex;
  gap: 2vmin;
  max-width: 90vw;
}

button {
  background-color: var(--light-green);
  border: 1px solid;
  border-radius: 0.25rem;
  color: var(--dark-green);
  font-weight: bold;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
}

button:hover {
  background-color: var(--dark-green);
  border-color: var(--light-green);
  color: var(--light-green);
}

.deleteButton {
  background-color: var(--light-red);
  border-color: var(--dark-red);
  color: var(--dark-red);
}

div {
  display: flex;
  flex-wrap: wrap;
}

.errors {
  background-color: var(--light-red);
  border: 1px solid var(--dark-red);
  border-radius: 1vmin;
  color: var(--dark-red);
  display: grid;
  justify-self: center;
  padding: 2vh 2vw;
}

footer {
  background-color: var(--light-green);
  border-top: 1px solid var(--dark-green);
  flex-grow: 0;
  min-width: 100vw;
  padding: 0.125rem 0;
  text-align: center;
}

form {
  color: var(--dark-green);
  display: grid;
  gap: 2vh;
  justify-content: center;
}

form > * {
  text-align: center;
}

header {
  align-items: center;
  background-color: var(--light-green);
  border-bottom: 1px solid var(--dark-green);
  display: flex;
  flex-grow: 0;
  gap: 2vw;
  justify-content: space-between;
  justify-self: stretch;
  min-width: 100vw;
  padding: 1vh 2vw;
}

header > div {
  align-items: center;
  color: var(--dark-green);
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  gap: 2vw;
}

header > div:first-child {
  justify-content: start;
}

header > div:last-child {
  justify-content: end;
}

input {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 0.25rem;
  color: var(--dark-green);
  padding: 0.125rem 0.25rem;
}

label {
  display: grid;
  gap: 0.5vh;
  text-align: left;
}
