:root {
  --light-green: #deffde;
  --dark-green: #005300;
}

body {
  align-content: space-between;
  display: grid;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

button {
  background-color: var(--light-green);
  border: 1px solid;
  border-radius: 0.25rem;
  color: var(--dark-green);
  font-weight: bold;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
}

button:hover {
  background-color: var(--dark-green);
  border-color: var(--light-green);
  color: var(--light-green);
}

footer {
  background-color: var(--light-green);
  border-top: 1px solid var(--dark-green);
  min-width: 100vw;
  padding: 0.125rem 0;
  text-align: center;
}

form {
  color: var(--dark-green);
  display: grid;
  gap: 2vh;
  justify-content: center;
}

form > * {
  text-align: center;
}

header {
  align-items: center;
  background-color: var(--light-green);
  border-bottom: 1px solid var(--dark-green);
  display: flex;
  justify-content: space-between;
  padding: 1vh 2vw;
}

header > div {
  color: var(--dark-green);
  display: flex;
  font-weight: bold;
  gap: 2vw;
}

input {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
  border-radius: 0.25rem;
  color: var(--dark-green);
  padding: 0.125rem 0.25rem;
}

label {
  display: grid;
  gap: 0.5vh;
  text-align: left;
}
